.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navBar {
    position: absolute;
    width: 100%;
    display: flex;
}

.employee-list {
    margin-top: 50px;
    overflow-y: auto;
    max-height: calc(100vh - 125px);
    padding: 5px;
    box-sizing: border-box;
}

.container-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.title-container {
    width: 100%;
    text-align: center;

    p {
        margin: 0;
    }
}

.search-field-container {
    width: 100%;
    background-color: white;
}

.searchField {
    width: 100%;
}

.group-container {
    width: 50%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.group-field {
    width: 100%;
    margin: 0;
    padding: 0;
}


.paginator-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.add-employee {
    display: flex;
    justify-content: space-evenly;

    p {
        margin: 0;
    }
}

.card-content {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

.id-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.button-group {
    button {
        margin: 0px 2px;
        width: 80px;
    }
}

.badge-group {
    background-color: #A0937D;
    padding: 2px 5px;
    border-radius: 10px;
    margin: 5px 0px;
}

.badge-active {
    background-color: #06D001;
    padding: 2px 5px;
    border-radius: 10px;
}

.badge-inactive {
    background-color: #6B8A7A;
    padding: 2px 5px;
    border-radius: 10px;
}

.button-detail {
    background-color: white !important;
    border: solid 2px #007bff;
    color: black !important;
    width: 90%;
    margin-bottom: 5px;
}

.container-action {
    justify-content: center;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}