<div class="container">
    <div class="navBar">
        <div class="title-container">
            <p>Employee</p>
            <p>Management</p>
        </div>
        <div class="search-field-container">
            <mat-form-field class="searchField">
                <mat-label>Search by Name</mat-label>
                <input type="text" name="searchEmployee" [(ngModel)]="searchKeyword" (ngModelChange)="handleSearch()" matInput placeholder="Ex. Lopez">
            </mat-form-field>
        </div>
    </div>
    <div class="employee-list">
        <mat-card style="margin: 5px 0;" appearance="outlined">
            <mat-card-content (click)="goCreateEmployee()">
                <div class="add-employee">
                    <p>Add Employee</p>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card style="margin: 5px 0;" appearance="outlined" *ngFor="let employee of employees">
            <mat-card-content>
                <div class="card-content">
                    <div class="id-group">
                        <p>{{employee.firstName + ' ' + employee.lastName}}</p>
                        <div class="badge-group">
                            <p>{{employee.group}}</p>
                        </div>
                        <div [ngClass]="{'badge-active': employee.status == 'Active', 'badge-inactive': employee.status == 'Inactive'}">
                            <p>{{employee.status}}</p>
                        </div>
                    </div>
                    <div class="container-action">
                        <div style="text-align: center;">
                            <button mat-flat-button class="button-detail" (click)="goToDetail(employee.username)">Detail</button>
                        </div>
                        <div class="button-group">
                            <button mat-flat-button style="background-color: #FFFDB5; color: black;">Edit</button>
                            <button mat-flat-button style="background-color: #EE4E4E;">Delete</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container-bottom">
        <div class="group-container">
            <mat-form-field class="group-field">
            <mat-label>Sort by Group</mat-label>
            <mat-select [(ngModel)]="groupSort" (ngModelChange)="handleSearch()">
                <mat-option [value]="">None</mat-option>
                <mat-option *ngFor="let group of groupTypes" [value]="group.type">{{group.type}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="paginator-container">
            <mat-paginator 
                (page)="handlePageEvent($event)"
                [length]="lengthData"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOption"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>