.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    p {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        line-height: 1cm;
    }
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;

    p {
        margin: 0 0 5px;
        font-size: 16px;
        font-weight: 500;
    }

    mat-form-field {
        width: 100%;
    }
}

.error-message {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

button {
    width: 100%;
}