<div class="home-container">
    <div class="title">
        <p>WELCOME TO EMPLOYEE MANAGEMENT WEBSITE</p>
    </div>
    <div class="form-container">
        <form>
            <div class="input-group">
                <div class="input-field">
                    <p>Username: </p>
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Input your username" name="uname" [(ngModel)]="uname">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <p>Password: </p>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput name="password" [(ngModel)]="password" [type]="isPassHidden ? 'password' : 'text'" />
                        <button mat-icon-button matSuffix (click)="changePassView()">
                            <mat-icon>{{isPassHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="isWrongPass" class="error-message">
                Username atau password anda salah!
            </div>
            <button mat-stroked-button (click)="handleLogin()">Login</button>
        </form>
    </div>
</div>