.navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title-addEmployee {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px 5px;
    font-size: 20px;
}

.form-group {
    padding: 2px 10px;
    overflow-y: auto;
    max-height: calc(100vh - 140px);

    mat-form-field {
        width: 100%;
    }
}

.submit-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    padding: 10px 0px;

    button {
        width: 30vw;

        @media screen and (max-width: 768px) {
            width: 40vw
        }
    }
}

.cancel-btn {
    background-color: white !important;
    color: red !important;
    border: solid 2px red;
}

.modalError {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    width: 300px;
    text-align: center;

    p {
        margin-bottom: 10px;
        font-size: 16px;
        color: red;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalSuccess {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: solid 2px #007bff;
    z-index: 10;
    width: 300px;
    text-align: center;

    p {
        margin-bottom: 10px;
        font-size: 16px;
        color: #007bff;
    }

    button {
        padding: 10px 20px;
        background-color: white;
        color: black;
        border: solid 2px black;
        cursor: pointer;
        border-radius: 10px;
    }

    button:hover {
        background-color: #0056b3;
    }
}