<div>
    <div class="navBar">
        <div>
            <button mat-mini-fab (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="title-addEmployee">
            <p>Add Employee</p>
        </div>
    </div>
    <form class="form-group" #userForm="ngForm">
        <div>
            <p>Username</p>
            <mat-form-field>
                <mat-label>Create employee username</mat-label>
                <input
                    matInput
                    name="username"
                    placeholder="Ex. userBest1"
                    [(ngModel)]="employee.username"
                    #username="ngModel"
                    required
                />
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">Username must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Firstname</p>
            <mat-form-field>
                <mat-label>Enter employee firstname</mat-label>
                <input
                    matInput
                    name="firstname"
                    placeholder="firstname here"
                    [(ngModel)]="employee.firstName"
                    #firstname="ngModel"
                    required
                />
                <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">Firstname must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Lastname</p>
            <mat-form-field>
                <mat-label>Enter employee lastname</mat-label>
                <input
                    matInput
                    name="lastname"
                    placeholder="lastname here"
                    [(ngModel)]="employee.lastName"
                    #lastname="ngModel"
                    required
                />
                <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">Lastname must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Email</p>
            <mat-form-field>
                <mat-label>Enter employee email</mat-label>
                <input
                    matInput
                    name="email"
                    type="email"
                    email
                    placeholder="Ex. Ican@gmail.com"
                    [(ngModel)]="employee.email"
                    #email="ngModel"
                    required
                />
                <mat-error *ngIf="!employee.email && (email.dirty || email.touched)">Email must be filled!</mat-error>
                <mat-error *ngIf="email.errors?.['email']">Not valid email format!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Birth Date</p>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input name="birthdate" [(ngModel)]="employee.birthDate" #birthdate="ngModel" matInput [max]="today" [matDatepicker]="picker" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)">Birthdate must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Basic Salary</p>
            <mat-form-field>
                <mat-label>Enter employee basic salary</mat-label>
                <input
                  matInput
                  name="salary"
                  [(ngModel)]="employee.basicSalary"
                  #salary="ngModel"
                  type="number"
                  placeholder="Ex. Rp 10.000.000"
                  required
                />
                <mat-error *ngIf="salary.invalid && (salary.dirty || salary.touched)">Salary must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Status</p>
            <mat-form-field>
                <mat-label>Select employee status</mat-label>
                <mat-select name="status" #status="ngModel" [(ngModel)]="employee.status" required>
                  <mat-option *ngFor="let status of statuses" [value]="status">
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="status.invalid && (status.dirty || status.touched)">Status must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <p>Group</p>
            <mat-form-field>
                <input name="searchGroup" matInput placeholder="Search group..." [(ngModel)]="groupKeyword" (ngModelChange)="filterGroups()"/>
                <mat-label>Select employee group</mat-label>
                <mat-select name="group" #group="ngModel" [(ngModel)]="employee.group" (ngModelChange)="resetSearch()" required>
                  <mat-option *ngFor="let group of groupFiltered" [value]="group.type">
                    {{ group.type }}
                  </mat-option>
                </mat-select>
                <div *ngIf="group.invalid && (group.dirty || group.touched)">
                    <p style="margin: 0; color: red; font-size: 12px;">Group must be filled!</p>
                </div>
            </mat-form-field>
        </div>
        <div>
            <p>Description</p>
            <mat-form-field>
                <mat-label>Enter employee description</mat-label>
                <input
                  matInput
                  name="description"
                  #description="ngModel"
                  [(ngModel)]="employee.description"
                  placeholder="Ex. Software Engineer"
                  required
                />
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">Description must be filled!</mat-error>
            </mat-form-field>
        </div>
        <div class="submit-container">
            <button type="button" class="cancel-btn" mat-flat-button (click)="back()">Cancel</button>
            <button mat-flat-button (click)="saveEmployee()">Save</button>
        </div>
    </form>
    <div class="modalOverlay" *ngIf="isModalError">
        <div class="modalError">
            <p>Something not right, please check your form again.</p>
            <button (click)="toggleModal(false)">Back</button>
        </div>
    </div>
    <div class="modalOverlay" *ngIf="isModalSuccess">
        <div class="modalSuccess">
            <p>Success, you will redirect to employee list page.</p>
            <button (click)="toggleModal(true)">Okay</button>
        </div>
    </div>
</div>
