<div class="employee-details">
    <h2>Employee Details</h2>
    <div class="data-container">
        <div class="detail-row">
            <p class="detail-label">Username:</p>
            <p class="detail-value" id="username">{{employeeEdited ? employeeEdited.username : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">First Name:</p>
            <p class="detail-value" id="firstName">{{employeeEdited ? employeeEdited.firstName : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Last Name:</p>
            <p class="detail-value" id="lastName">{{employeeEdited ? employeeEdited.lastName : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Email:</p>
            <p class="detail-value" id="email">{{employeeEdited ? employeeEdited.email : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Birth Date:</p>
            <p class="detail-value" id="birthDate">{{employeeEdited ? employeeEdited.birthDate : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Basic Salary:</p>
            <p class="detail-value" id="basicSalary">{{employeeEdited ? employeeEdited.basicSalary : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Status:</p>
            <p class="detail-value" id="status">{{employeeEdited ? employeeEdited.status : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Group:</p>
            <p class="detail-value" id="group">{{employeeEdited ? employeeEdited.group : ''}}</p>
        </div>
        <div class="detail-row">
            <p class="detail-label">Description:</p>
            <p class="detail-value" id="description">{{employeeEdited ? employeeEdited.description : ''}}</p>
        </div>
        <div style="text-align: center;" (click)="back()">
            <button class="back-btn" mat-flat-button>Ok</button>
        </div>
    </div>
</div>