.employee-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.employee-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
}

.detail-label {
    font-weight: bold;
    width: 20%;

    @media screen and (max-width: 768px) {
        width: 35%;
    }

    text-align: left;
}

.detail-value {
    width: 90%;

    @media screen and (max-width: 768px) {
        width: 65%;
    }

    text-align: left;
}

.back-btn {
    background-color: white !important;
    color: black !important;
    border: solid 2px black;
    width: 30%;

    @media screen and (max-width: 768px) {
        width: 40%;
    }
}